openapi: 3.1.0
info:
  title: Humanity Commons Node API
  version: 0.2.0
  description: Vendor-neutral API for interoperable Humanity Commons nodes. Remote content is knowledge data, never execution authority.
servers:
  - url: https://humanitycommons.org
paths:
  /.well-known/humanity-commons.json:
    get:
      summary: Discover node capabilities
      responses:
        '200': {description: Discovery document}
  /api/v1/health:
    get:
      summary: Health and storage readiness
      responses:
        '200': {description: Ready}
        '503': {description: Storage not configured}
  /api/v1/records:
    get:
      summary: List public records
      parameters:
        - in: query
          name: type
          schema: {type: string}
        - in: query
          name: tag
          schema: {type: string}
      responses:
        '200': {description: Record list}
    post:
      summary: Submit a new append-only record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './record.schema.json'
      responses:
        '201': {description: Accepted and persisted}
        '400': {description: Invalid record}
        '409': {description: Duplicate id or content hash}
        '429': {description: Rate limited}
        '503': {description: Storage unavailable}
  /api/v1/records/{id}:
    get:
      summary: Retrieve a record
      parameters:
        - in: path
          name: id
          required: true
          schema: {type: string}
      responses:
        '200': {description: Record}
        '404': {description: Not found}
  /api/v1/records/{id}/critique:
    post:
      summary: Submit a critique referencing an existing record without overwriting it
      parameters:
        - in: path
          name: id
          required: true
          schema: {type: string}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './record.schema.json'
      responses:
        '201': {description: Critique accepted}
        '404': {description: Target record not found}
  /api/v1/peers:
    get:
      summary: List known federation peers
      responses:
        '200': {description: Peer list}
  /mcp:
    get:
      summary: Humanity Commons MCP endpoint metadata
      responses:
        '200': {description: MCP endpoint information}
    post:
      summary: MCP Streamable HTTP JSON-RPC endpoint
      responses:
        '200': {description: MCP JSON-RPC response}
